<div class="container container-fluid">
    <div class="row justify-content-center">
        <div class="col12">
            <h1>
                Добро пожаловать!
            </h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col6"><a href="#"><img src="~/img/dog2.jpg" /></a>  </div>
        <div class="col6"><a asp-controller="CatPage" asp-action="List"><img src="~/img/redcat1.jpg" /></a>  </div>
    </div>
    <div class="row justify-content-center">
        <div class="col6"><a asp-controller="About" asp-action="Contacts"><img src="~/img/address.jpg" /></a>  </div>
        <div class="col6"><a asp-controller="About" asp-action="Info"><img src="~/img/About.jpg" /></a>  </div>
    </div>
</div>
